<div class="flex flex-row"
    x-data="{
        isOutcome: true,
        isOneOff: 'one-off',
        date: new Date(),
        month: new Date().getMonth(),
        year: new Date().getFullYear()
    }"
>
    <div class="flex flex-row grow gap-2 text-2xl">
        <div class="rounded-2xl flex flex-row bg-light-grey">
            <button class="rounded-2xl py-1 px-2.5" id="incomes"
                @click="isOutcome=false" :class="{'bg-middle-grey': !isOutcome}"
            >Incomes</button>
            <button class="rounded-2xl py-1 px-2.5" id="outcomes"
                @click="isOutcome=true" :class="{'bg-middle-grey': isOutcome}"
            >Outcomes</button>
        </div>
        <div class="rounded-2xl bg-light-grey flex flex-row gap-2">
            <button class="rounded-2xl py-1 px-2.5" id="one-off"
                @click="isOneOff='one-off'" :class="{'bg-middle-grey': isOneOff === 'one-off'}"
            >One-off</button>
            <button class="rounded-2xl py-1 px-2.5" id="all"
                @click="isOneOff='all'" :class="{'bg-middle-grey': isOneOff === 'all'}"
            >All</button>
            <button class="rounded-2xl py-1 px-2.5" id="recurring"
                @click="isOneOff='recurring'" :class="{'bg-middle-grey': isOneOff === 'recurring'}"
            >Recurring</button>
        </div>
    </div>
    <div class="flex grow">
        <div class="ml-auto flex flex-row gap-12">
            <input type="month" min="2023-01" max="2026-12" id="monthCalendar"
                   class="text-2xl bg-light-grey rounded-2xl"
                   @change=""
            >
            <div class="flex flex-row gap-1.5 rounded-2xl bg-light-grey py-0.5 px-1">
                <button class="previous-bt text-2xl"
                    @click="date.setMonth(date.getMonth() - 1); month=date.getMonth(); year=date.getFullYear()"
                >⬅ Previous</button>
                <button class="text-2xl border-l-[3px] border-r-[3px] border-black/25 px-2"
                    @click="date = new Date(); month=date.getMonth(); year=date.getFullYear()"
                >Today</button>
                <button class="next-bt text-2xl"
                    @click="date.setMonth(date.getMonth() + 1); month=date.getMonth(); year=date.getFullYear()"
                >Next ➡</button>
            </div>
        </div>
    </div>
</div>
<div id="table-wrapper" class="bg-light-grey rounded-2xl mt-2 py-2 px-4"
     hx-trigger="load"
     hx-get="{% url 'ledger-update' %}"
     hx-target="#swap-me-on-load"
>
    <div id="swap-me-on-load"></div>
</div>
