<div class="flex flex-row"
     x-data='{
        isOutcome: true,
        isOneOff: "one-off",
        date: new Date(),
        month: new Date().getMonth(),
        year: new Date().getFullYear(),
        newYear: new Date().getFullYear(),
        calendarPopup: false,
        monthsNames: [
            ["Jan", 0], ["Feb", 1], ["Mar", 2], ["Apr", 3],
            ["May", 4], ["Jun", 5], ["Jul", 6], ["Aug", 7],
            ["Sep", 8], ["Oct", 9], ["Nov", 10], ["Dec", 11]
        ],
        setCookie: function() {
            function setExpireDate() {
                const now = new Date();
                const expireTime = new Date(now.getTime() + (30 * 24 * 60 * 60 * 1000)); // 1 month
                return expireTime.toUTCString();
            }
            document.cookie = `ledger-month=${this.month}; expires=${setExpireDate()};`;
            document.cookie = `ledger-year=${this.year}; expires=${setExpireDate()};`;
            document.cookie = `is-outcome=${this.isOutcome}; expires=${setExpireDate()};`;
            document.cookie = `is-one-off=${this.isOneOff}; expires=${setExpireDate()};`;
        }
    }'
     x-init="setCookie()">
    <div class="flex flex-row grow gap-2 text-2xl">
        <div class="rounded-2xl flex flex-row bg-light-grey">
            <button class="rounded-2xl py-1 px-2.5" id="incomes"
                    @click="isOutcome=false; setCookie()"
                    :class="{'bg-middle-grey': !isOutcome}"
                    hx-trigger="click"
                    hx-get="{% url 'ledger-update' %}"
                    hx-target="#TableIO"
            >Incomes</button>
            <button class="rounded-2xl py-1 px-2.5" id="outcomes"
                    @click="isOutcome=true; setCookie()"
                    :class="{'bg-middle-grey': isOutcome}"
                    hx-trigger="click"
                    hx-get="{% url 'ledger-update' %}"
                    hx-target="#TableIO"
            >Outcomes</button>
        </div>
        <div class="rounded-2xl bg-light-grey flex flex-row gap-2">
            <button class="rounded-2xl py-1 px-2.5" id="one-off"
                    @click="isOneOff='one-off'; setCookie()"
                    :class="{'bg-middle-grey': isOneOff === 'one-off'}"
                    hx-trigger="click"
                    hx-get="{% url 'ledger-update' %}"
                    hx-target="#TableIO"
            >One-off</button>
            <button class="rounded-2xl py-1 px-2.5" id="all"
                    @click="isOneOff='all'; setCookie()"
                    :class="{'bg-middle-grey': isOneOff === 'all'}"
                    hx-trigger="click"
                    hx-get="{% url 'ledger-update' %}"
                    hx-target="#TableIO"
            >All</button>
            <button class="rounded-2xl py-1 px-2.5" id="recurring"
                    @click="isOneOff='recurring'; setCookie()"
                    :class="{'bg-middle-grey': isOneOff === 'recurring'}"
                    hx-trigger="click"
                    hx-get="{% url 'ledger-update' %}"
                    hx-target="#TableIO"
            >Recurring</button>
        </div>
    </div>
    <div class="flex grow gap-2">
        <div class="ml-auto flex flex-row gap-12">
            <!-- Calendar Button -->
            <div class="rounded-2xl py-1 px-2.5 text-2xl bg-light-grey w-36 text-center relative cursor-pointer select-none"
                 x-text="monthsNames[month][0] + ' ' + year"
                 @click="calendarPopup = true"
            >
            </div>
            <!-- Calendar Popup -->
            <div class="absolute bg-light-grey border-middle-grey border-[3px] text-xl p-2 rounded-2xl mt-12 shadow-2xl"
                 x-show="calendarPopup"
                 @click.away="calendarPopup = false"
            >
                <div class="flex flex-row place-content-evenly text-2xl border-b-[3px] border-black/25 pb-2">
                    <button class="flex grow justify-center cursor-pointer select-none"
                            @click="newYear--;"
                    >⬅</button>
                    <h2 class="cursor-default select-none"
                        x-text="newYear"
                        @click="newYear = year"
                    ></h2>
                    <button class="flex grow justify-center cursor-pointer select-none"
                            @click="newYear++;"
                    >➡</button>
                </div>
                <div class="grid grid-cols-4 gap-2 mt-2 select-none">
                    <template x-for="monthName in monthsNames" :key="monthName[1]">
                        <div
                            class="py-1 px-2 rounded-md text-center cursor-pointer select-none hover:bg-purple"
                            :class="{
                                'bg-middle-grey': monthName[1] === month && year === newYear,
                                'bg-neutral-300': monthName[1] !== month
                            }"
                            x-text="monthName[0]"
                            x-bind:value="monthName[1]"
                            @click="year = newYear; month = $event.target.value; date.setFullYear(year, month); setCookie()"
                            hx-trigger="click"
                            hx-get="{% url 'ledger-update' %}"
                            hx-target="#TableIO"
                        ></div>
                    </template>
                </div>
            </div>
        </div>
        <div class="flex flex-row gap-1.5 rounded-2xl bg-light-grey py-0.5 px-1.5">
            <button class="text-2xl"
                    @click="date.setMonth(date.getMonth() - 1); month=date.getMonth(); year=date.getFullYear(); setCookie()"
                    hx-trigger="click"
                    hx-get="{% url 'ledger-update' %}"
                    hx-target="#TableIO"
            >⬅ Previous</button>
            <button class="text-2xl border-l-[3px] border-r-[3px] border-black/25 px-2"
                    @click="date = new Date(); month=date.getMonth(); year=date.getFullYear(); setCookie()"
                    hx-trigger="click"
                    hx-get="{% url 'ledger-update' %}"
                    hx-target="#TableIO"

            >Today</button>
            <button class="text-2xl"
                    @click="date.setMonth(date.getMonth() + 1); month=date.getMonth(); year=date.getFullYear(); setCookie()"
                    hx-trigger="click"
                    hx-get="{% url 'ledger-update' %}"
                    hx-target="#TableIO"
            >Next ➡</button>
        </div>
    </div>
</div>
<div id="table-wrapper" class="bg-light-grey rounded-2xl mt-2 py-2 px-4"
     hx-trigger="load"
     hx-get="{% url 'ledger-update' %}"
     hx-target="#swap-me-on-load"
>
    <div id="swap-me-on-load"></div>
</div>
