{% extends 'base.html' %}
{% block content %}
    <h1>Update One IO</h1>
    <a href="{% url  'ledger' %}">Back to list</a>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
    </form>
    <br>
    <form method="post" action="{% url 'delete-io' object.pk %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    <p>Last modification: {{ object.last_modification }}</p>
    <p>Creation time: {{ object.creation_date }}</p>
{% endblock %}

