{% extends 'base.html' %}

{% block content %}
<a href="{% url 'create-io' %}">Create</a>
<button onclick="setLedgerCookie('is-outcome', false)">Income</button>
<button onclick="setLedgerCookie('is-outcome', true)">Outcome</button>
<button onclick="setLedgerTodayCookie()">Today</button>
<button onclick="setLedgerDateCookie(false)">Previous Month</button>
<button onclick="setLedgerDateCookie(true)">Next Month</button>
    

    <table id="TableIO" class="display ">
<thead>
    <tr>
        <th>Title</th>
        <th>Value</th>
        <th>Date</th>
        <th>Notes</th>
    </tr>
</thead>
<tbody>
    {% for obj in object_list %}
        <tr>
            <td>
                <a href="{% url 'detail-io' pk=obj.pk %}">{{ obj.title }}</a>
            </td>
            <td>{% if obj.is_outcome %}-{% endif %}{{ obj.value }}</td>
            <td style="text-align: center">{{ obj.date|date:'d' }}</td>
            <td>{{ obj.notes }}</td>
        </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
