html {
  height: 100vh;
}

.body {
  height: 100%;
  background-color: #201F1F;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.3125rem 0;
}

.purple-background {
  height: 20rem;
  background-color: #BAB0F8;
}

.top-bar {
  background-color: #D9D9D9 ;
  width: 100%;
  height: 2.5rem;
  padding: .3125rem 0;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-bar-text {
  font-size: 1.25rem;
}

.top-bar div {
  display: flex;
  height: 2rem;
  align-items: center;
}

.top-bar-actions {
  margin-left: 1rem;
  gap: .625rem;
  padding: 0 .625rem;
}

.search-tool {
  border-radius: 15px;
  background-color: #BAB0F8;
  color: black;
  font-size: 1.25rem;
  flex-grow: 2;
  padding: 0 .625rem;

}

.search-tool::placeholder {
  color: black;
}

.search-tool:focus {
  outline: none;
}

.add-bt {
  font-size: 1.25rem;
  background-color: #BAB0F8;
  border-radius: 15px;
  align-self: center;
  justify-self: center;
  padding: 0 .5rem;
  cursor: pointer;
}

.top-bar-stats {
  gap: 1rem;
  flex-grow: 3;
  justify-content: center;
}

.top-bar-stats div {
  background-color: #BAB0F8;
  border-radius: 15px;
  align-content: center;
  justify-content: center;
  font-size: 1.25rem;
  padding: 0 .5rem;

}

.top-bar-settings {
  font-size: 1.25rem;
  flex-grow: 1;
}

.top-bar-settings a {
  margin-left: auto;
  margin-right: 1rem;
}

.top-bar-settings a div {

}

.settings-bt {
  background-color: #BAB0F8;
  border-radius: 15px;
  align-content: center;
  justify-content: center;
  font-size: 1.25rem;
  padding: 0 .625rem;
}

.app-container {
  margin-top: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  height: auto;
}

.left-bar {
  background-color: #D9D9D9;
  border-radius: 15px;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.icon-container {
  padding: .25rem;
  border-radius: 15px;
}

.icon-link {
  font-size: 3rem;

}

.tab-active {
  background-color: #9D9C9C;
}

.main {
  margin-left: 1rem;
  flex-grow: 1;
  background-color: rgba(78, 76, 76, 0.75);
  border-radius: 15px;
  padding: .5rem;
}

.footer {
  margin-top: 0.625rem;
  margin-bottom: 0.3125rem;
  bottom: .3125rem;
  right: 1.625rem;
}

.footer ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: end;
}

.footer ul li {
  color: #D9D9D9;
}

.table-container {
  max-height: 55rem;
  overflow-y: auto;
  padding: .3125rem;
}

.popup-background {
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none
}

.popup-content {
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #D9D9D9;
  height: 70%;
  width: 35%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 700px;
}

.popup-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 4rem;
}

.popup-title {
  font-size: 2rem;
}

.close-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 10px;
  background-color: rgba(157, 156, 156, 0.15);
}

.close-wrapper:hover {
  color: white;
  background-color: #ff5252;
}

.popup-close {
  font-size: 30px;
  position: absolute
}

.popup-menu {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
  align-items: center;
  font-size: 1.625rem;
  cursor: pointer;
}

.popup-menu-row {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  background-color: rgba(157, 156, 156, 0.15);
  justify-content: space-evenly;
  width: 70%;

}

.popup-menu-row div {
  padding: 0.2175rem 0.6125rem;
  border-radius: 15px;
  flex-grow: 1;
  text-align: center;
}

.menu-row--active {
  background-color: #9D9C9C;
}

.popup-body {
  display: flex;
  flex-direction: column;
  margin: 2% 15%;
}

.forms-wrapper {
  flex-grow: 1; /* Set a minimum height for the wrapper */
  box-sizing: border-box;
}

.popup-menu-bottom {
  display: flex;

}

.popup-menu-bottom button {
  font-size: 1.5rem;
  border-radius: 15px;
  padding: .25rem .625rem;
}

.add-form {
  background-color: #8dbdab;
}

.submit-forms {
  background-color: #619bff;
  margin-left: auto;
}

















