.ledger-menu {
  display: flex;
  flex-direction: row;
}

.ledger-menu--active {
  background-color: #9D9C9C;
  border-radius: 15px;
}

.ledger-menu-left {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 1rem;
}

.ledger-menu-right {
  flex-grow: 1;
  display: flex;
}

.is-outcome {
  border: solid 2px #4E4C4C;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  background-color: #4E4C4C;
}

.is-outcome button {
  font-size: 1.5rem;
  padding: 0.2175rem 0.6125rem;
}

.is-recurring {
  border: solid 2px #4E4C4C;
  border-radius: 15px;
  padding: 0.2175rem 0.6125rem;
  gap: 0.6125rem;
  display: flex;
  flex-direction: row;
}

.is-recurring button {
  font-size: 1.5rem;
}

.set-date {
    margin-left: auto;
}

.set-date button {
  font-size: 1.5rem;
}

.set-date input {
  font-size: 1.5rem;
  background-color: #D9D9D9;
}
