.ledger-menu {
  display: flex;
  flex-direction: row;
}

.ledger-menu--active {
  background-color: #9D9C9C;
}

.ledger-menu-left {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 1rem;
  font-size: 1.5rem;
}

.ledger-menu-right {
  flex-grow: 1;
  display: flex;
}

.is-outcome {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  background-color: #D9D9D9;
}

.is-outcome button {
    padding: 0.2175rem 0.6125rem;
    border-radius: 15px;
}

.is-recurring {
  background-color: #D9D9D9;
  border-radius: 15px;
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
}

.is-recurring button {
  padding: 0.2175rem 0.6125rem;
  border-radius: 15px;
}

.all-bt {
  padding: 0 1rem;
}

.set-date {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.set-date button {
  font-size: 1.5rem;
}

.set-date input {
  font-size: 1.5rem;
  background-color: #D9D9D9;
}

.date-buttons {
  display: flex;
  gap: .3125rem;
    border-radius: 15px;
  background-color: #D9D9D9;
  padding: .3125rem 0.438rem;
}

.today-bt {
  border-left: 3px solid rgb(0, 0, 0, 0.25);
  border-right: 3px solid rgba(0, 0, 0, 0.25);
  padding: 0 0.5rem;
}


.previous-bt {

}

.calendar-bt {
  border-radius: 15px;
  padding: .3125rem 1rem;
  text-align: center;
}

.next-bt {

}

.table-wrapper {
  background-color: #D9D9D9;
  border-radius: 15px;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
}