<form class="flex flex-col gap-2"
hx-post="http://127.0.0.1:8000/create/oneio/"
hx-trigger="click from:#submit-bt"
hx-on="this.remove()">
    {{ form.title }}
    <div class="flex flex-row items-center text-xl">
          {{ form.is_outcome }} <p>&nbsp;Outcome</p>
    </div>
    {{ form.value }}
    {{ form.date }}
    <div class="flex flex-row items-center text-xl">
        {{ form.prediction }} <p>&nbsp;Prediction</p>
    </div>
    {{ form.notes }}
    <button class="bg-emerald-400 mt-4 ml-auto rounded-2xl text-xl px-3 py-1" id="submit-bt" type="submit">Submit All</button>
</form>
