<div class="rounded-2xl fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-[51] bg-light-grey h-[70%] w-[35%] flex flex-col min-w-[700px] box-border" x-data="{
    hide: false, 
    row1: 0, 
    row2: 0
}">
    <div class="flex flex-row items-center justify-center min-h-16">
        <h1 class="text-3xl">Choose action</h1>
        <div class="absolute top-0 right-0 w-16 h-16 cursor-pointer flex justify-center items-center rounded-tr-2xl rounded-bl-xl bg-close-bg hover:text-gray-100 hover:bg-red-500"
             @click="showPopup = false"
                {% if request.path in '/ledger/' %}
             hx-trigger="click"
             hx-get="{% url 'ledger-update' %}"
             hx-target="#table-wrapper"
                {% endif %}
        >
            <span class="text-2xl">&times;</span>
        </div>
    </div>
    <div class="mt-4 flex flex-col gap-4 items-center text-2xl cursor-pointer">
        <div class="flex flex-row rounded-2xl justify-evenly w-[70%] bg-menu-light-grey">
            <div class="px-3 py-1 rounded-2xl grow text-center" @click="hide = false; row1 = 0" :class="{ 'bg-middle-grey': row1 === 0 }">Outcome</div>
            <div class="px-3 py-1 rounded-2xl grow text-center" @click="hide = false; row1 = 1" :class="{ 'bg-middle-grey': row1 === 1 }">Income</div>
            <div class="px-3 py-1 rounded-2xl grow text-center" @click="hide = true; row1 = 2" :class="{ 'bg-middle-grey': row1 === 2 }">Investment</div>
        </div>
        <div class="flex flex-row rounded-2xl justify-evenly w-[70%] bg-menu-light-grey" x-show="!hide">
            <div class="px-3 py-1 rounded-2xl grow text-center" @click="row2=0;" :class="{ 'bg-middle-grey': row2 === 0 }">One-off</div>
            <div class="px-3 py-1 rounded-2xl grow text-center" @click="row2=1;" :class="{ 'bg-middle-grey': row2 === 1 }">Recurring</div>
        </div>
    </div>
    <div id="form-wrapper" class="flex flex-col w-[70%] self-center mt-4">
        <!-- Form is rendered here -->
        <div class="flex flex-col mt-4 flex-grow"
             hx-get="{% url 'get-OneIO-form' 1 %}"
             hx-target="#form-wrapper"
             hx-swap="outerHTML"
             hx-trigger="click from:#submit-bt"
        >

        </div>
    </div>
</div>
