<div class="rounded-2xl fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-[51] bg-light-grey h-[70%] w-[35%] flex flex-col min-w-[700px] box-border"
     x-data="{
        hideOutIn: false,
        hideAddTakeNew: true,
        OneRecInv: 0,
        OutIn: 0,
        AddTakeNew: 0
     }"
>
    <div class="flex flex-row items-center justify-center min-h-16">
        <h1 class="text-3xl">Choose action</h1>
        <div class="absolute top-0 right-0 w-16 h-16 cursor-pointer flex justify-center items-center rounded-tr-2xl rounded-bl-xl bg-close-bg hover:text-gray-100 hover:bg-red-500"
             @click="showAddPopup = false"
             hx-trigger="click"
             hx-get="{% url 'ledger-update' %}"
             hx-target="#table-wrapper"
        >
            <span class="text-2xl">&times;</span>
        </div>
    </div>
    <div class="mt-4 flex flex-col gap-4 items-center text-2xl cursor-pointer">
        <div class="flex flex-row rounded-2xl justify-evenly w-[70%] bg-menu-light-grey">
            <!-- FIRST ROW -->
            <div class="px-3 py-1 rounded-2xl grow text-center"
                 id="outcome-bt"
                 @click="hideAddTakeNew = true; hideOutIn = false; OneRecInv = 0; OutIn = 0"
                 :class="{ 'bg-middle-grey': OneRecInv === 0 }"
                 hx-get="{% url 'get-OneIO-form' 1 %}"
                 hx-target="#form"
                 hx-swap="outerHTML"
                 hx-trigger="click"
            >
                One-off
            </div>
            <div class="px-3 py-1 rounded-2xl grow text-center"
                 id="income-bt"
                 @click="hideAddTakeNew = true; hideOutIn = true; OneRecInv = 1"
                 :class="{ 'bg-middle-grey': OneRecInv === 1 }"
            >
                Recurring
            </div>
            <div class="px-3 py-1 rounded-2xl grow text-center"
                 id="investment-bt"
                 @click="hideAddTakeNew = false; hideOutIn = true; OneRecInv = 2"
                 :class="{ 'bg-middle-grey': OneRecInv === 2 }"
            >
                Investment
            </div>
        </div>
        <!-- SECOND ROW IO -->
        <div class="flex flex-row rounded-2xl justify-evenly w-[70%] bg-menu-light-grey" x-show="!hideOutIn">
            <div class="px-3 py-1 rounded-2xl grow text-center"
                 id="one-off-bt"
                 @click="OutIn = 0;"
                 :class="{ 'bg-middle-grey': OutIn === 0 }"
                 hx-get="{% url 'post-OneIO-form' 1 %}"
                 hx-target="#form"
                 hx-swap="outerHTML"
                 hx-trigger="click"
            >
                Outcome
            </div>
            <div class="px-3 py-1 rounded-2xl grow text-center"
                 id="recurring-bt"
                 @click="OutIn = 1;"
                 :class="{ 'bg-middle-grey': OutIn === 1 }"
                 hx-get="{% url 'post-OneIO-form' 0 %}"
                 hx-target="#form"
                 hx-swap="outerHTML"
                 hx-trigger="click"
            >
                Income
            </div>
        </div>
        <!-- SECOND ROW INVESTMENT -->
        <div class="flex flex-row rounded-2xl justify-evenly w-[70%] bg-menu-light-grey" x-show="!hideAddTakeNew">
            <div class="px-3 py-1 rounded-2xl grow text-center"
                 id="Add"
                 @click="AddTakeNew = 0;"
                 :class="{ 'bg-middle-grey': AddTakeNew === 0 }"
            >
                Add Found
            </div>
            <div class="px-3 py-1 rounded-2xl grow text-center"
                 id="recurring-bt"
                 @click="AddTakeNew = 1;"
                 :class="{ 'bg-middle-grey': AddTakeNew === 1 }"
            >
                Take Profit
            </div>
            <div class="px-3 py-1 rounded-2xl grow text-center"
                 id="recurring-bt"
                 @click="AddTakeNew = 2;"
                 :class="{ 'bg-middle-grey': AddTakeNew === 2 }"
            >
                Create New
            </div>
        </div>
    </div>
    <div id="form-wrapper" class="flex flex-col w-[70%] self-center mt-4">
        <!-- Form is rendered here -->
    </div>
</div>
