<div id="TableIO" 
     x-data="{ledgerPopup: false}" 
>
<table  class="display">
    <thead class="text-xl">
    <tr class="">
        <th class="px-2">
            Title</th>
        <th class="px-2 text-center">
            Value</th>
        <th class="px-2 text-center">
            Date</th>
        {% if is_one_off != 'one-off' %}
            <th class="px-2">
                Manager</th>
        {% endif %}
        <th class="px-2 text-left">
            Notes</th>
    </tr>
    </thead>
    <tbody class="text-lg">
    {% for obj in object_list %}
        <tr class="{% cycle 'bg-light-grey-shade-1' 'bg-light-grey' %} hover:bg-blue-400 ">
            <td class="pl-4 rounded-l-2xl px-2"
                @click="ledgerPopup = true"
            >
                {{ obj.title }}
            </td>
            <td class="px-2 text-center">
                {% if is_outcome %}-{% endif %}{{ obj.value }}</td>
            <td class="px-2 text-center">
                {{ obj.date|date:"d" }}</td>
            {% if is_one_off != 'one-off' %}
                <td class="px-2"
                ><a href="#">{{ obj.manager_id.title }}</a></td>
            {% endif %}

            <td class="rounded-r-2xl px-2 ">
                {{ obj.notes }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot class="text-xl">
    <tr class="">
        <td class="px-2 text-right">
            <strong>Total:</strong></td>
        <td class="px-2 text-center">
            {% if is_outcome %}-{% endif %}{{ total_sum }}</td>
        {% if is_one_off != 'one-off' %}
            <td class="px-2"></td>
        {% endif %}
        <td class="px-2"></td>
        <td class="px-2"></td>
    </tr>
    </tfoot>
</table>
<!-- Detail Popup -->
    <div class="z-50 w-full h-full bg-popup-bg hidden fixed start-0"
         x-bind:style="{display: ledgerPopup ? 'block' : 'none'}"
         
    >
    </div>
</div>