{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Hello, world!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <link href="https://cdn.datatables.net/v/dt/dt-2.0.3/cr-2.0.0/sp-2.3.0/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/dt/dt-2.0.3/cr-2.0.0/sp-2.3.0/datatables.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    <script src="{% static 'js/base.js' %}" defer></script>
    {% block head %}
    {% endblock %}
</head>
<body class="body"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      x-data="{
        showPopup: false, 
        table: null,
        initTable: function() {
            if (this.table) {
                this.table.destroy();
            }
            this.table = new DataTable('#TableIO', {
                paging: true,
                order: false,
                searching: true,
                colReorder: true,
                autoWidth: false,
                fixedHeader: true
            });
        }
}">
<header class="top-bar">
    <div class="top-bar-actions">
        <label>
            <input autocomplete="off" type="search" placeholder="Search 🔍" class="search-tool">
        </label>
        <div class="popup-wrapper">
            <div class="add-bt"
                 @click="showPopup = true"
                 hx-get="http://127.0.0.1:8000/create/oneio/"
                 hx-target=".form-wrapper"
                 hx-trigger="intersect"
            >Add ➕</div>
        </div>
    </div>
    <div class="top-bar-stats">
        <div class="runway">400 days 🏃🏿</div>
        <div class="cash">100K 💰</div>
        <div class="investments">1.7 mln 💸</div>
        <div class="loans">23K 🏦</div>
    </div>
    <div class="top-bar-settings">
        <a href="#">
            <div class="settings-bt">Settings 🎨</div>
        </a>
    </div>
</header>
<div class="app-container">
    <nav class="left-bar">
        <div class="icon-container {% if request.path == '/dashboard/' %} tab-active{% endif %}">
            <a href="{% url 'dashboard' %}" class="icon-link">
                📊
            </a>
        </div>
        <div class="icon-container {% if request.path == '/ledger/' %} tab-active{% endif %}">
            <a href="{% url 'ledger' %}" class="icon-link">
                📖
            </a>
        </div>
        <div class="icon-container {% if request.path == '/recurring/' %}tab-active {% endif %}">
            <a href="{% url 'recurring' %}" class="icon-link">
                🔁
            </a>
        </div>
        <div class="icon-container {% if request.path == '/investments/' %}tab-active {% endif %}">
            <a href="{% url 'investments' %}" class="icon-link ">
                ➡
            </a>
        </div>
        <div class="icon-container {% if request.path == '/liabilities/' %}tab-active {% endif %}">
            <a href="{% url 'liabilities' %}" class="icon-link">
                ⬅
            </a>
        </div>
        <div class="icon-container {% if request.path == '/reminders/' %}tab-active {% endif %}">
            <a href="{% url 'reminders' %}" class="icon-link ">
                🔔
            </a>
        </div>
        <div class="icon-container {% if request.path == '/media/' %}tab-active {% endif %}">
            <a href="{% url 'media' %}" class="icon-link ">
                📦
            </a>
        </div>
    </nav>
    <main class="main" hx-swap="outerHTML">
        {% block content %}
        {% endblock %}
    </main>
</div>
<footer class="footer">
    <ul>
        <li>
            <a href="https://github.com/Zimzozaur/Pulporo">
                GitHub
            </a>
        </li>
        <li>
            <p>
                &copy; 2024 Pulporo. All rights reserved.
            </p>
        </li>
    </ul>
</footer>
<!-- Popup -->
<div class="popup-background" x-bind:style="{display: showPopup ? 'block' : 'none'}">
    {% include 'finance/components/main_popup.html' %}
</div>
</body>
</html>